{% extends "index.html" %} 

{% block title %}Python Apps{% endblock %}

{% block content %}

   <div class="container" id="maincontent" tabindex="-1">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="https://scontent-los2-1.cdninstagram.com/v/t51.2885-15/e35/52869044_1554023568063691_2074267375033282941_n.jpg?_nc_ht=scontent-los2-1.cdninstagram.com&_nc_cat=107&_nc_ohc=DJ92gLA_L2wAX-FLZ4T&oh=2b67fb50c691d700958a5f73d708ae6b&oe=5EC736FA" alt="">
                    <div class="intro-text">
                        <h1 class="name">Simple Python Apps</h1>
                        <hr class="star-light">
                        <span class="skills">Let's Play!</span>
                    </div>
                </div>
            </div>
        </div>
    </header>




            <!-- Portfolio Grid Section -->
    
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Simple Python Apps</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                <h1>Addition</h1>
                    <a href="/add_numbers" target="_blank" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="/static/img/add_preview.png" target="_blank" class="img-responsive" alt="Cabin">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                <h1>Shopping List</h1>
                    <a href="/shopping_list" target="_blank" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="/static/img/shopping_preview.png" class="img-responsive" alt="Slice of cake">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                <h1>Current Time</h1>
                    <a href="/time" target="_blank" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="/static/img/time_preview.png" class="img-responsive" alt="Circus tent">
                    </a>
                </div>      
            </div>
        </div>
    </section>

         <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2></h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p>My name is Obielum Godspower and I am a graduate of Computer Science from Babcock Unviersity. I love Python and Inted on using it to learn Data Science and Machine Learning. I can make so many things simply by leveraging code that other people have made for me to use.<br />
This website was built with the python Flask framework. The languages that were used to achieve on this are HTML, CSS, Python and some JavaScript and I deployed it using Heroku.<br />
                  Simplicity, creativity and clarity are the core principles behind my work. </p>
                </div>
            </div>
        </div>
    </section>

{% endblock%}
